.longship-update-header {
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}

.qr-code {
    max-height: 200px;
}

.longship-update-button {
    min-width: 150px;
    height: 60px;
    margin-right: 1rem;
    background-color: lightgreen !important;
    font-size: 1.5rem !important;
    outline: none;
    line-height: 3rem !important;
}