.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-custom {
    background-color: dimgray;
    padding: 0rem 0rem !important;
    font-size: 0.8rem;
}

.navbar-custom .container{
    padding: 0rem 0rem ;
}

.navbar-light .navbar-brand,
.navbar-custom .navbar-text {
    color: whitesmoke !important;
    font-weight: 500;
    font-size: 1.5rem;
}

.navbar-light .navbar-brand:hover {
    color: rgb(33, 33, 33) !important;
    background-color: #bab3a9 !important;
    border-radius: 5px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: whitesmoke !important;
    margin: 0rem 0.2rem;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .navbar-nav .nav-link:hover  {
    color: rgb(33, 33, 33) !important;
    background-color: #bab3a9 !important;
    border-radius: 5px;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: white;
    font-size: 0.75rem;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3)
}

/* .navbar-custom .dropdown-item {
    color: #e8e8e8;
} */

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: rgb(33, 33, 33) ;
    background-color: #bab3a9 ;
}


