.btn-block {
    display: block!important;
    width: fit-content!important;
}

.btn-inline-block {
    display: inline-block!important;
    width: fit-content!important;
}

.btn {
    flex: 1 1 auto;
    /* margin-top: 10px; */
    padding: 10px 15px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #444 !important;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    box-shadow: 0 0 20px #eee;
    border-radius: 8px;
    border: none !important;
}

.btn:hover {
    color: #000;
    background-position: right center; /* change the direction of the change here */
}

.btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}

.btn-4 {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btn-5 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}

.btn-6 {
    background-color: #eb9573 !important;
}
  
.btn-7 {
    background-color: #e2c9be !important;
}

.btn-8 {
    background-color: #D2B48C !important;
}

.btn-9 {
    background-color: #ffb676 !important;
}

.btn-10 {
    background-color: #ff3741 !important;
}